* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Montserrat";
}

:root {
  --bs-body-bg: #FFE6E6;
  --bs-body-font-family: "Montserrat", sans-serif;
}

a,
Link {
  text-decoration: none;
  border: none;
  color: black;
  :hover{
    color:#6faeb3 ;
  }
}

button {
  border: none;
  box-shadow: none;
  border-color: black;
  background-color: #C6DCE4;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}
