.contact{
    
        background: linear-gradient(rgba(210, 93, 220, 0.1), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/dmatgvjjy/image/upload/v1661885787/mundoFlotante/20211112_180955_2_1_mkaban.jpg");
        background-size: cover;
        background-position: center center;
        height: 100vh;  
      
}